/* General */

:root {
  --purple: #c09fe0;
  --font: "Heebo", sans-serif;
}
* {
  margin: 0;
  scroll-behavior: smooth;
}

/* html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */

body {
  background-color: black;
}

.scroll_line {
  width: 3px;
  background-color: var(--purple);
  height: 70px;
  position: absolute;
  bottom: -35px;
  left: 50vw;
}

/* Nav */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
nav li {
  font-family: var(--font);
  font-weight: 100;
  color: var(--purple);
  font-size: 1.5rem;
  list-style-type: none;
}

a {
  color: var(--purple);
  text-decoration: none;
  transform: translateY(-50px);
  display: inline-block;
  opacity: 0;
}

/* nav li:first-of-type a {
  opacity: 0;
} */

a::after {
  color: var(--purple);
  text-decoration: none;
}
/* Splash */

#splash {
  height: 100vh;
  /* scroll-snap-align: start; */
}

h1 {
  font-family: var(--font);
  font-weight: 700;
  color: var(--purple);
  text-transform: uppercase;
  font-size: 2.7rem;
  position: absolute;
  bottom: 100px;
  left: 10px;
  opacity: 0;
  transform: translateY(200px);
}

/* About */

#about {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* scroll-snap-align: start; */
}

.me_img_container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url(img/mememe_purplebackground.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

h2 {
  font-family: var(--font);
  color: var(--purple);
  font-size: 2.7rem;
  text-transform: uppercase;
  margin: 30px 10px 0;
}

p {
  font-family: var(--font);
  font-weight: 100;
  color: white;
  width: 350px;
  margin: 0 10px;
}

h3 {
  font-family: var(--font);
  color: var(--purple);
  margin: 15px 10px 0;
  font-size: 1.5rem;
}

/* Work */

#work {
  position: relative;
  padding: 30px 0;
  /* scroll-snap-align: start; */
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

h4 {
  font-family: var(--font);
  color: white;
  margin: -5px 0 0 20px;
  /* width: 200px; */
}

figure {
  display: flex;
  width: 94vw;
  margin: 70px 10px;
}

figcaption p {
  width: auto;
  padding: 0 20px;
  margin: 0;
}

/* Contact */

#contact {
  padding: 30px 0;
  height: 90vh;
  /* scroll-snap-align: start; */
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.logo_container button {
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  margin: 40px;
}

.logo_container .linkedin:hover {
  width: 99px;
}
.logo_container .github:hover {
  width: 102px;
}
.logo_container .mail:hover {
  text-align: center;
  background-image: none;
  color: white;
  transition: 0.3s;
  font-family: var(--font);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.logo_container button:hover {
  background-image: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
  font-family: var(--font);
  font-size: 1.1rem;
}

.logo_container .github {
  background-image: url(svg/github_logo.svg);
  background-size: cover;
  display: block;
  width: 102px;
  height: 100px;
  /* transition: 0.3s; */
}
.logo_container .instagram {
  background-image: url(svg/instagram_logo.svg);
  background-size: cover;
  display: block;
  width: 100px;
  height: 100px;
}
.logo_container .linkedin {
  background-image: url(svg/linkedin_logo.svg);
  background-size: cover;
  display: block;
  width: 99px;
  height: 100px;
}
.logo_container .mail {
  background-image: url(svg/mail_logo.svg);
  background-size: cover;
  background-position: center;
  display: block;
  width: 212px;
  height: 100px;
  cursor: pointer;
  color: transparent;
  margin: 20px;
}

.logo_container .mail p {
  visibility: hidden;
}

/* Mediaqueries */

@media (min-width: 600px) {
  /* Nav */
  nav li {
    font-size: 2rem;
    padding: 5px 30px;
  }

  /* Splash */
  h1 {
    font-size: 5rem;
    max-width: 700px;
    left: 30px;
  }

  /* About */
  #about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .me_img_container {
    width: 200px;
    height: 200px;
    /* margin: auto; */
  }

  #about .textwrapper {
    width: 50vw;
  }

  h2 {
    margin: 50px 30px 0;
    font-size: 4rem;
  }

  p {
    margin: 0 30px;
    font-size: 1rem;
    width: 40vw;
  }

  /* Work */

  figure {
    margin: 70px 30px;
  }
}

@media (min-width: 918px) {
  /* About */
  #about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .me_img_container {
    width: 400px;
    height: 400px;
    /* margin: auto; */
  }

  #about .textwrapper {
    width: 50vw;
  }

  h2 {
    margin: 50px 30px 0;
    font-size: 5rem;
  }

  p {
    margin: 0 30px;
    font-size: 1.5rem;
    width: 40vw;
  }

  /* Work */

  figure {
    max-width: 700px;
    margin: 70px auto;
  }
  figcaption p {
    font-size: 1rem;
    padding: 0 40px;
  }
  h4 {
    font-size: 2rem;
    margin: -5px 0 0 40px;
  }

  /* img {
    width: 200px;
    height: 200px;
  } */
}
